.Header {
  background: darkblue;
  padding: 10px;
  color: #fff;
  border-bottom: 1px solid red;
  h1 {
    margin: 0px;
  }
}

.Question {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 5px;
}

.Question-text {
  background-color: blanchedalmond;
  border-bottom: 1px solid black;

}

.Question-text, .Question-options {
  padding: 5px 10px;
}

.Option-group {
  margin-bottom: 0.5em;
}
.Option-text {
  padding-left: 10px;
}
